@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body, html {
    font-family: "Ubuntu", "Trebuchet MS";
    background-color: #333333;
}

div {
    color: white;
}

a {
    color: Gold;
}

table {
    cursor: default;
    padding-bottom: 0em;
    font-size: 90%;
}

#search-bar{
    width: 100%;
    top: -1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: sticky;
    position: -webkit-sticky;
    height: 3em;
    background-color: #333333;
    z-index: 2;
}

#search{
    text-align: center;
    border-radius: 1em;
    width: 40%;
}
#clear-search{
    border-radius: 1em;
}

#tapToSort {
    /* position: fixed; */
    font-size: 75%;
    padding-right: 2em;
    margin-top: 0.3em;
}

.tooltip-sort {
    position: sticky;
    position: -webkit-sticky;
    top: 3em;
    z-index: 1;
}

@media (max-width: 600px) {
    #tapToSort {
        padding-right: 0em;
    }
}

audio {
  /* display: inline-block; */
  display: none;
  height: 40px;
  width: calc( 100% - 650px );
}

label {
  background: #f0f0f0;
  border: 1px solid #999;
  border-radius: 5px;
  /* display: inline-block; */
  /* margin: 5px 10px 0; */
  /* padding: 8px 40px; */
  vertical-align: top;
}

label input {
  display: none;
}

canvas {
  display: block;
  width: 100%;
}

