body, html {
    font-family: "Trebuchet MS";
    background-color: #333333;
}

div {
    color: white;
}

a {
    /* color: Salmon; */
}

table {
    cursor: default;
    padding-bottom: 2em;
}

#search{
    text-align: center;
    border-radius: 0.5em;
    width: 30%;
}

.button{
    transition: transform .2s, box-shadow .2s, color .2s;
    font-size: 115%;
	text-align: center;
    padding: 1em;
    text-decoration: none;
	position:fixed;
	width:200px;
	height:60px;
	top:20px;
	right:20px;
	background-color: #085;
	color:#FFF;
	border-radius:50px;
	box-shadow: 3px 3px 4px #333;
    z-index: 5;
}
.button:hover{
	color:#000;
    transform: scale(1.1);
	box-shadow: 4px 4px 5px #666;
}
.button:active{
    transform: scale(1);
}
.my-float{
	margin-bottom:22px;
}
#logo {
    /* pointer-events:none; */
    /* position: fixed;  */
	margin-top:20px;
	margin-bottom:20px;
    height: 100px;
}

