@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Itim");

html, body {
    font-family: "Ubuntu", monospace;
    background-color: #1f2424;
    line-height: 1.2em;
    /* color: gray; */
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
table {
    cursor: default;
}
thead{
    z-index: 1;
}
th, td{
    vertical-align: middle;
}
a {
    color: gold;
    cursor: default;
}
a:hover{
    color: gold;
    text-decoration: none;
}
#logo{
    height: 3.5em;
    transform: scale(1.8);
    z-index: 3;
    margin-left: 1em;
}
#spotify{
    z-index: 3;
    height: 3em;
    margin-right: 1em;
}

/* ::placeholder { */
    /* color: teal; */
    /* opacity: 1; */
/* } */
#search{ /* search bar field */
    text-align: center;
    border-radius: 0.7em;
    color: black;
    margin: 1em;
    padding: 0.3em;
    border: none;
    width: 425px;
    /* filter: grayscale(1); */
}
#search:focus{
    outline: none;
}
#search-bar{  /* search bar div */
    font-family: "Itim", monospace;
    background-color: #1f2424;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6em;
    /* max-width: 600px; */
    z-index: 1;
}
#search-results{
    position: fixed;
    margin-top: 4em;
    color: gray;
}
#titlebar{
    position: fixed;
    margin-top: -4em;
    color: silver;
}
#table-header{ /* table header */
    position: sticky;
    position: -webkit-sticky;
    top: 6em;
}
.title {
    font-style: italic;
}
/* add the word "The" before marked artist names without affecting sorting order */
.the{}    
    .the:before{
        content: "The ";
    }

#form_embed{
    width: 100%;
    height: 70vh;
    filter: invert(1);
    padding-top: 1em;
    vertical-align: middle;
    transform: scale(1.1);
    transform-origin: center top;
    clip-path: inset(0em 0em 7em 0em);
}
#upButton{
    height: 40px;
    bottom: 20px;
    right: 20px;
    position: fixed;
}

@media (max-width: 600px) {
    #form_embed{
        width: 80vw;
        height: 80vh;
        filter: invert(1);
        transform: scale(1.1);
        transform-origin: center top;
        clip-path: inset(0em 0em 6.5em 0em);
    }
}
